<!DOCTYPE html>
<html>
<head>
    <title>YouTube Search</title>
</head>
<body>

    <h2>YouTube Playlist Analyzer</h2>

    <form action="/search" method="POST">

        <label>Playlist URL</label><br>
        <input
            type="text"
            name="playlist_url"
            placeholder="Paste playlist URL"
            size="60"
        >

        <br><br>

        <label>Search Query</label><br>
        <input
            type="text"
            name="query"
            placeholder="What do you want to learn?"
            size="60"
        >

        <br><br>

        <button type="submit">
            Search
        </button>

    </form>

</body>
</html>